.listC {
    font-size: "8px";
    color:"red"
  }
.icons{
    min-width: '40px',; 
}
.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}